<html><head>
    <title>Welcome page</title>
</head>
<style>
    body{
        background-image: url("https://sun9-23.userapi.com/impg/0YqB3LL-UPSLIAV4pZ571-N3SbHCI4Z_ANY1nw/MJHhKRJ_ylw.jpg?size=2560x1811&quality=96&sign=f7ca7b43e88409183a6c4c9910c78ec9&type=album");
        background-size: cover;
    }
    p{
        color: white;
        font-family: 'Poppins',sans-serif;
        text-align: center;
        margin-top: 620px;
    }
    a{
        color: white;

    }
</style>
<body>
<div class="w3-padding-large" id="main">
    <header class="w3-container  w3-center" id="home">
        <p> <a href="/login">Click here</a> to sign in</p>

    </header>
</div>
</body>
</html>